# folders
/build/
/data/
/indices



# configs
.clangd


# python
python/.venv


#web
package.json
package-lock.json
node_modules
dist
dist-ssr
*.local

# IDEs
.cache
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.sdf
ipch/
*.aps
*.ncb
*.opensdf
*.sln.docstates

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


