# folders
build/
data/
indices/

# configs
CMakeLists.txt
.clangd

# python
python/.venv

# IDEs
.cache
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.sdf
ipch/
*.aps
*.ncb
*.opensdf
*.sln.docstates
TODO.txt

